body {
    background-color: #f0f0f0;
    display: inline-block
}

.card {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 2%;
    margin: 8px;
}

.card h1 {
    margin-top: 0;
    position: relative;
    bottom: 40px;
    margin: 0;
    font-weight: bold;
}

.card p {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 52px;
    text-align: left;
    font-weight: normal;
}

.card h2 {
    bottom: 65px;
    position: relative;
    left: 102%;
    width: 18px;
    height: 19px;
    margin: 1px;
    background-color: red;
    border-radius: 24px;
    font-size: 1em;
    text-align: center;
    color: white;
}

.video {
    position: absolute;
    top: 22%;
    left: 48%;
    display: block;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 322px;
    margin: 13px;
}
p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 2% 0 0 0;
}
