body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.overlap {
    width: 900px;
    height: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    background-color: blanchedalmond;
}
.overlap-green {
    grid-column: 1 / 5;
    background-color: rgb(66, 245, 215);
    border-radius: 0 0 30px 30px;
}

.overlap-description {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    margin: -68px 40px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.paragraf {
    font-size: 16px;
    font-weight: 500;
}