body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: bisque;
}

.box {
    width: 200px;
    height: 150px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.flex {
    flex-direction: column;
}

.box:nth-child(1) {
    align-self: center;
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
}
p {
    position: relative;
    text-align: left;
    bottom: 50px;
    left: 6px;
}