h1 {
    font-size: 40px;
    max-width: 500px;
    text-align: center;

}

h2 {
    background-color: blueviolet;
    color: black;
    font-family: Verdana;
}

p {
    font-size: medium;
    max-width: 500px;
    padding: 10px;
}