* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-container {
    margin-inline: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.indicator {
    font-family: monospace;
    font-size: 0.9rem;
    color: gray;

}

.progress-bar-wrapper {
    flex-grow: 1;
    position: relative;
    height: 200px;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background-color: green;
}
