/* Left Section */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.aside {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr;
    align-content: center;
    background-color: rgb(61, 80, 93);
    padding: 0px 40px 0px 40px;
}

h1 {
    text-align: right;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
}

.p {
    text-align: right;
    color: rgb(175, 202, 218);
    font-size: 1.5em;
}

.button {
    justify-self: end;
    width: 100px;
    background-color: rgb(61, 80, 93);
    border-radius: 2px;
    border: 2px solid rgb(175, 202, 218);
    color: white;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}
.button:hover {
    background-color: rgb(0, 132, 255);
}

/* Right Section */

.article {
    grid-column: 2/3;
    height: 100vh;
    background-color: white;
    margin: 50px 50px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
}

.PinnedPost {
    margin-bottom: 5em;
}

h4 {
    color: grey;
    font-size: 1em;
    text-transform: uppercase;
}

.blocks {
    margin: 0;
}

hr {
    opacity: 0.2;
    color: grey;
}

h5 {
    color: black;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2em;
    margin-bottom: -9px;
}

.articlePinnedPost, .RecentPostData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    color: rgb(14, 29, 234);
}

.css {
    background-color: rgb(47, 255, 47);
}

.html {
    background-color: rgb(79, 79, 248);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.css, .html, .JavaScript {
    border: 1px solid black;
    padding: 2px 5px;
    margin: 0px 2px;
    color: white;
}

.articleParagraf {
    color: black;
    text-align: left;
    line-height: 1.5;
    font-size: 1.2em;
    margin-top: 9px;
}

.JavaScript {
    background-color: red;
}

@media only screen and (max-width: 640px) {
    
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto;
        height: 100vh;
    }

    .aside {
        grid-column: auto; /
        padding: 20px; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .article {
        grid-column: auto; 
        margin: 20px; 
    }
}
