/*Homepage CSS*/
body {
    background-image: url('contents/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 0 10% 0 10%;
}

* {
    cursor: url(contents/arrow-icon.png) 5 5, auto;
}

h1 {
    font-family: Lucida Handwriting;
}

.blocks {
    display: block;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    transition: transform 0.2s;
}

.section1 {
    background-color: rgb(148, 196, 226);
    box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
    padding: 2px 3px 2px 6px;
    margin: 20px 10px 2px 11px;
}

.section1:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
    border: 1px solid red;
    box-shadow: 0px 0px 7px 3px rgb(226, 253, 155);
}

.section2 {
    background-color: rgb(217, 228, 146);
    box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
    padding: 2px 3px 2px 6px;
    margin: 38px 10px 0 10px;
}

.section2:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
    border: 1px solid red;
    box-shadow: 0px 0px 7px 3px rgb(226, 253, 155);
}

.section3 {
    background-color: rgb(74, 239, 223);
    box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
    padding: 1px 3px 14px 7px;
    margin: 33px 10px 14px 17px;
}

.section3:hover {
    transform: scale(1.1);
    background-color: rgb(122, 247, 172);
    border: 1px solid red;
    box-shadow: 0px 0px 7px 3px rgb(226, 253, 155);
}

.section4 {
    background-color: rgb(204, 241, 130);
    box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
    padding: 1px 3px 14px 7px;
    margin: 33px 10px 14px 17px;
}

.section4:hover {
    transform: scale(1.1);
    background-color: rgb(122, 247, 172);
    border: 1px solid red;
    box-shadow: 0px 0px 7px 3px rgb(226, 253, 155);
}

.pschool {
    background-color: rgb(235, 236, 230);
    box-shadow: 0px 0px 5px 4px rgb(174, 174, 248);
    padding: 8px 4px 8px 6px;
    margin: 0% 4% 0 0%;
    text-align: left;
}

.hschool {
    background-color: rgb(235, 236, 230);
    box-shadow: 0px 0px 5px 4px rgb(174, 174, 248);
    padding: 8px 4px 8px 6px;
    margin: 1% 4% 0 0%;
    text-align: left;
}

.university {
    background-color: rgb(235, 236, 230);
    box-shadow: 0px 0px 5px 4px rgb(174, 174, 248);
    padding: 8px 4px 8px 6px;
    margin: 1% 4% 2.3% 0%;
    text-align: left;
}

.L1 {
    background-color: #93fbbc;
    border: 1px solid;
    width: 50%;
    height: 25px;
    position: relative;
    border-radius: 10px;
    display: inline;
    margin-right: 9px;
    margin-left: 9px;
    box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
    padding: 2px 3px 2px 6px;
}

span {
    font-weight: bold;
}

button {
    position: relative;
    bottom: 9px;
    color: #fff;
    border-radius: 20px;
    left: 8px;
    padding: 6px 12px;
    background: #e82a2a;
    transition: all 0.2s ease;
}

button:hover {
    transform: scale(0.96);
}

img {
    border-radius: 87px;
}

hr {
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.square-list {
    list-style-type: square;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

li {
    font-weight: bold;
    padding: 5px;
}


footer {
    background-color: rgb(72, 35, 21);
    display: block;
    margin: 0px 13px 8px 19px;
    height: 61px;
    padding: 5px 10px 2px 10px;
    border-radius: 7px;
    color: white;
}

.scroll-top__link {
    position: relative;
    top: 6vh;
    left: 96vh;
    border-radius: 30px;
    background-color: rgb(88, 88, 155);
    color: #21d521;
    padding: 1rem;;
}

    /*Project_Page*/

    .img-project1 {
        border-radius: 0px;
        position: relative;
        bottom: 23px;
        margin-top: 15px;

    }

    .img-project2 {
        border-radius: 0px;
    }

    /*ContactMe*/

    .section5 {
        background-color: rgb(148, 196, 226);
        box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
        padding: 2px 3px 2px 6px;
        margin: 20px 10px 2px 11px;
    }

    .section6 {
        background-color: rgb(204, 241, 130);
        box-shadow: 0px 3px 20px 6px rgb(174, 174, 248);
        padding: 1px 3px 14px 7px;
        margin: 33px 10px 14px 17px;
    }

    input,
    textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    html,
    body {
        scroll-behavior: smooth;
    }